<h1>Résultats pour "{{ query or category }}"</h1>
<div class="product-grid">
{% for product in products %}
    <article class="product-card" data-id="{{ product.id }}">
        <img src="{{ url_for('static', filename='images/products/' ~ product.id ~ '.jpg') }}" alt="product image">
        <h3>{{ product.title }}</h3>
        <div class="description">
            <p class="short">{{ product.description_short }}</p>
            <p class="long">{{ product.description_long }}</p>
        </div>
        <p class="price">{{ product.price }}€</p>
        <button>Acheter</button>
    </article>
{% endfor %}
</div>
<form class="pagination">
    <button class="pagination-btn prev" value="{{ page -1 }}" {% if page == 1 %}disabled{% endif %}>Préc.</button>
    <div class="pagination-pages">
        {% if page > 1 %}
            <button class="page-number" value="{{ page - 1 }}">{{ page - 1 }}</button>
        {% endif %}
        <button class="page-number active" value="{{ page }}">{{ page }}</button>
        {% if max_page - page >= 1 %}
            <button class="page-number" value="{{ page + 1 }}">{{ page + 1 }}</button>
        {% endif %}
        {% if max_page - page >= 2 %}
            <button class="page-number" value="{{ page + 2 }}">{{ page + 2 }}</button>
        {% endif %}
        {% if page < max_page - 2 %}
            <span class="ellipsis">...</span>
            <button class="page-number" value="{{ max_page }}">{{ max_page }}</button>
        {% endif %}
    </div>
    <button class="pagination-btn next" value="{{ page + 1 }}" {% if page == max_page %}disabled{% endif %}>Suiv.</button>
</form>