<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Amarhône</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <header class="header">
    <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}" height="30px"></img>
    <input type="text" class="search-bar" placeholder="Rechercher un produit...">
    <button class="search-btn">Rechercher</button>
  </header>

  <main class="content">
    <section class="categories"></section>
    <section class="products"></section>
  </main>
</body>

<script src="{{ url_for('static', filename='js/layout.js') }}"></script>
<script src="{{ url_for('static', filename='js/tracker.js') }}" type="module"></script>

</html>